{% extends "base.html" %}

{% block title %} Forgot Password - DJ Auth {% endblock title %}

{% block content %}

{% comment %} <form method='POST'>
    {% csrf_token %}
    <h3><strong>Forgot Password</strong></h3>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" name="email" placeholder="Enter Your Email" required>
      </div>

      <button class="btn btn-primary" style="width:100%">Send Reset Link</button>

</form> {% endcomment %}

<div class="login-container">
  <div class="login-card">
    <div class="login-header">
        <h2>Forgot Password?</h2>
        <p>Enter the email associated with your account to recover your password</p>
    </div>
    <form method="POST" class="login-form" id="loginForm">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-wrapper">
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
                <div class="input-line"></div>
                <div class="ripple-container"></div>
            </div>
            <span class="error-message" id="emailError"></span>
        </div>
        <div class="">
            <button type="submit" class="login-btn material-btn">
              <div class="btn-ripple"></div>
              <span class="btn-text">SEND RESET EMAIL </span>
            </button>
        </div>
        <a href="{% url "signin" %}" class="forgot-password">Back to login</a>
        
    </form>
  </div>
</div>








{% endblock content %}