{% extends "base.html" %}

{% block title %} Resend OTP - DJ Auth {% endblock title %}

{% block content %}

{% comment %} <style>
    form{
        width: 500px;
        height: auto;
        padding: 20px 20px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
    }
    form p{
        text-align: center;
    }

    form h3{
        text-align: center
    }
</style> {% endcomment %}


    {% comment %} <form action="" method='POST'>
        {% csrf_token %}
        <h3><strong>Resend OTP</strong></h3>
        <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input type="email" class="form-control" name="otp_email" placeholder="Enter email-address" required>
          </div>

          <button class="btn btn-primary" style="width:100%" type="submit">Send OTP</button>
          <p>Need a new account? <a href="{% url "signup" %}">Register</a>  OR  login? <a href="{% url "signin" %}">Login</a></p>

    </form> {% endcomment %}



<div class="login-container">
  <div class="login-card">
    <div class="login-header">
        <h2>Resend OTP</h2>
        <p>Enter the email associated with your account to receive OTP</p>
    </div>
    <form method="POST" class="login-form" id="loginForm">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-wrapper">
                <input type="email" id="email" name="otp_email" required>
                <label for="email">Email</label>
                <div class="input-line"></div>
                <div class="ripple-container"></div>
            </div>
            <span class="error-message" id="emailError"></span>
        </div>
        <div class="">
            <button type="submit" class="login-btn material-btn">
              <div class="btn-ripple"></div>
              <span class="btn-text">SEND OTP</span>
            </button>
        </div>
        
    </form>
  </div>
</div>








{% endblock content %}