{% extends "base.html" %}

{% block title %} Verify OTP- DJ Auth {% endblock title %}

{% block content %}

{% comment %} <form action="" method='POST'>
    {% csrf_token %}
    <h3><strong>Verify Email</strong></h3>
    <div class="mb-3">
        <label class="form-label">OTP</label>
        <input class="form-control" name="otp" placeholder="Enter OTP" required>
      </div>

      <button class="btn btn-primary" style="width:100%">Activate Account</button>
      <p>Need a new OTP? <a href="{% url 'resend_otp' %}">Resend OTP</a></p>

</form> {% endcomment %}



<div class="login-container">
  <div class="login-card">
    <div class="login-header">
        <h2>Email Verify</h2>
        <p>Please verify your email to activate your account by entering OTP</p>
    </div>
    <form method="POST" class="login-form" id="loginForm">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-wrapper">
                <input type="text" id="email" name="otp" required>
                <label for="email">Enter the OTP</label>
                <div class="input-line"></div>
                <div class="ripple-container"></div>
            </div>
            <span class="error-message" id="emailError"></span>
        </div>
        <div class="">
            <button type="submit" class="login-btn material-btn">
              <div class="btn-ripple"></div>
              <span class="btn-text">Activate</span>
            </button>
        </div>
        
    </form>
  </div>
</div>





{% endblock content %}